# Local DB
DATABASE_URL="postgresql://<db_username>:<db_password>@localhost:5432/db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET="<YOUR_SECRET_KEY>"

# OpenAI API
OPENAI_API_KEY="<YOUR_OPENAI_API_KEY>"

# App Configuration
NODE_ENV="development"

ADMIN_EMAIL="<REPLACE_WITH_ADMIN_EMAIL>"
ADMIN_PASSWORD="<REPLACE_WITH_ADMIN_PASSWORD>"

DEFAULT_USER_EMAIL="<REPLACE_WITH_DEFAULT_USER_EMAIL>"
DEFAULT_USER_PASSWORD="<REPLACE_WITH_DEFAULT_USER_PASSWORD>"